body{
    background-color: aquamarine;
    color:red;
}
#show_sketches{
    float: right;
}
 h1{
    color:rgb(117, 25, 2);
    background-color: rgb(113, 167, 26);
 }
  

  canvas{
    border: 5px dashed white;
    border-radius:20px ;
    animation-name:example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count:infinite ;

  }

  p{
    padding-top:10px;
    font-size:25px;
    
  }
  #score{
    float:left
  }
  #timer{
    float:right
  }